name: ProgressDialog Library Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
#   Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    
jobs:
  build:
    if: (${{ github.event_name == 'push' }} && startsWith(github.ref, 'refs/tags/1')) || (${{ github.event_name == 'pull_request' }} && ${{ github.actor != 'dependabot[bot]' }})
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: adopt
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2.1.6
    - name: Grant Executable Permission to gradlew
      run: chmod +x gradlew
    - name: Build Library with Gradle
      run: ./gradlew :progressdialoglibrary:clean :progressdialoglibrary:publishReleasePublicationToMavenLocal
    - name: Upload Output AAR file
      uses: actions/upload-artifact@v3
      with:
        name: progressdialoglibrary-release
        path: progressdialoglibrary/build/outputs/aar/progressdialoglibrary-release.aar
